/* styling on gallery section */
#gallery {
  background-color:rgb(159,0,255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: 
  "gallery-h3 gallery-h3 gallery-h3 gallery-h3 gallery-h3"
  "img1 img20 img3 img6 img12"
  "img9 img8 img5 img18 img11"
  "img2 img22 img23 img24 img26";

}

#gallery .gallery-img {
  width: 100%;
  height: 300px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}


/* images */
#gallery h3 {
  grid-area: gallery-h3;
}
#gallery .img1 {
  grid-area: img1;
  background-image: url("../img/gallery1.jpeg");
}
#gallery .img20 {
  grid-area: img20;
  background-image: url("../img/gallery2.jpeg");
}
#gallery .img3 {
  grid-area: img3;
  background-image: url("../img/gallery3.jpeg");
}
#gallery .img6 {
  grid-area: img6;
  background-image: url("../img/gallery4.jpeg");
}
#gallery .img12 {
  grid-area: img12;
  background-image: url("../img/gallery5.jpeg");
}
#gallery .img9 {
  grid-area: img9;
  background-image: url("../img/gallery6.jpeg");
}
#gallery .img8 {
  grid-area: img8;
  background-image: url("../img/gallery7.jpeg");
}
#gallery .img5 {
  grid-area: img5;
  background-image: url("../Images/Gallery/img5.jpg");
}
#gallery .img18 {
  grid-area: img18;
  background-image: url("../Images/Gallery/img18.jpg");
}
#gallery .img11 {
  grid-area: img11;
  background-image: url("../Images/Gallery/img11.jpg");
}
#gallery .img2 {
  grid-area: img2;
  background-image: url("../Images/Gallery/img2.jpg");
}
#gallery .img22 {
  grid-area: img22;
  background-image: url("../Images/Gallery/img22.jpg");
}
#gallery .img23 {
  grid-area: img23;
  background-image: url("../Images/Gallery/img23.jpg");
}
#gallery .img24 {
  grid-area: img24;
  background-image: url("../Images/Gallery/img24.jpg");
}
#gallery .img26 {
  grid-area: img26;
  background-image: url("../Images/Gallery/img26.jpg");
}

/* image titles */
.gallery-img div {
  width: 100%;
  height: 100%;
  opacity: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.gallery-img a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(234,232,246) ;
  text-decoration: none;
  text-transform: capitalize;
}

gallery-img div:hover {
  
  opacity: 0.8;
  transition: all ease-in-out 100ms;
  
}

/* styling on contact us section */
#contactus {
    background-color: rgb(234,232,246) ;
    color: rgb(159,0,255);
}

#contactus #message {
    height: fit-content;
    padding-bottom: 100px;
    margin-bottom: 30px;
    color: rgb(159,0,255); 
}

.footer-basic {
    padding:40px 0;
    background-color:rgb(159,0,255);
    color:rgb(234,232,246);
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  #socials {
    padding-top: 10px;
    align-items: center;
    text-align: center;
 }
  
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(234,232,246);
    margin-bottom:0;
  }
  


  @media screen and (max-width: 600px) {
      .contacting {
        width: 0%;
        margin-top: 0;
      };
    }; 

    /* styling on gallery section */
#gallery {
  background-color: rgb(159,0,255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
    "gallery-h3 gallery-h3 gallery-h3 gallery-h3 gallery-h3"
    "img1 img20 img3 img6 img12"
    "img9 img8 img5 img18 img11"
    "img2 img22 img23 img24 img26";
}

#gallery .gallery-img {
  width: 100%;
  height: 300px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.section-4 .gallery-img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  border-radius: 0;
  border: 0;
}

/* images */
#gallery h3 {
  grid-area: gallery-h3;
}
#gallery .img1 {
  grid-area: img1;
  background-image: url("../Images/Gallery/Img1.jpg");
}
#gallery .img20 {
  grid-area: img20;
  background-image: url("../Images/Gallery/img20.jpg");
}
#gallery .img3 {
  grid-area: img3;
  background-image: url("../Images/Gallery/img3.jpg");
}
#gallery .img6 {
  grid-area: img6;
  background-image: url("../Images/Gallery/img6.jpg");
}
#gallery .img12 {
  grid-area: img12;
  background-image: url("../Images/Gallery/img12.jpg");
}
#gallery .img9 {
  grid-area: img9;
  background-image: url("../Images/Gallery/img9.jpg");
}
#gallery .img8 {
  grid-area: img8;
  background-image: url("../Images/Gallery/img8.jpg");
}
#gallery .img5 {
  grid-area: img5;
  background-image: url("../Images/Gallery/img5.jpg");
}
#gallery .img18 {
  grid-area: img18;
  background-image: url("../Images/Gallery/img18.jpg");
}
#gallery .img11 {
  grid-area: img11;
  background-image: url("../Images/Gallery/img11.jpg");
}
#gallery .img2 {
  grid-area: img2;
  background-image: url("../Images/Gallery/img2.jpg");
}
#gallery .img22 {
  grid-area: img22;
  background-image: url("../Images/Gallery/img22.jpg");
}
#gallery .img23 {
  grid-area: img23;
  background-image: url("../Images/Gallery/img23.jpg");
}
#gallery .img24 {
  grid-area: img24;
  background-image: url("../Images/Gallery/img24.jpg");
}
#gallery .img26 {
  grid-area: img26;
  background-image: url("../Images/Gallery/img26.jpg");
}

/* image titles */
.gallery-img div {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(234, 232, 246);
  text-decoration: none;
  text-transform: capitalize;
}

gallery-img div:hover {
  opacity: 0.8;
  transition: all ease-in-out 100ms;
}

/* styling on contact us section */
#contactus {
  background-color: rgb(234, 232, 246);
  color: rgb(159,0,255);
}

#contactus #message {
  height: fit-content;
  padding-bottom: 100px;
  margin-bottom: 30px;
  color: rgb(159,0,255);
}
.section-6 .sendButton {
  margin: 20px;
  background: transparent;
  border: 1px solid rgb(159,0,255);
  color: rgb(159,0,2557);
}
.section-6 #howWeCanHelp{
  padding-top: 20px;
}
.footer-basic {
  padding: 40px 0;
  background-color: rgb(159,0,255);
  color: rgb(234, 232, 246);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

#socials {
  padding-top: 10px;
  align-items: center;
  text-align: center;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(234, 232, 246);
  margin-bottom: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
.section-3 {
  margin-top: 20px ;
  align-items: center;
  background-color: rgb(234,232,246) ;
  color: #000000;
  margin: 20px;
}

.section-3 .submit-button button{
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid rgb(159,0,255);
  color: rgb(159,0,255);
}

.section-3 .section-header{
  text-align: center;
}

.section-3 .header-div{
  margin-top: 1em;
}

.section-6 #send-button {
  margin: 20px;
  background: transparent;
  border: 1px solid rgb(159,0,255);
  color: rgb(159,0,255);
}
*{font-family: 'Poppins', sans-serif;}
.section-1{
  background-image: url(.././Images/home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: rgb(56, 39, 167);
  padding: 0px;
  height: 50vw;
  margin: auto;
}
#head {
  font-family: "Zhi Mang Xing";
  margin: 0;
  font-size: 20px;
  color: rgb(76, 63, 148);
  padding: 300px 300px;
  padding-bottom: 100px;
  text-align: center;
}
.btn-orange {
  background-color: rgb(234, 232, 246);
  margin-bottom: 50px;
}
.section-1 li a:hover {
  color: rgb(36, 28, 75);
}
.section-1 .navbar-nav {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-1 .nav-item {
  list-style: none;
  display: flex;
}
.section-1 .nav-link a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
}
.section-1 .nav-link {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
}
.section-1 .nav-link:hover {
  background-color: rgba(84, 70, 163, 0.5);
}

.section-1 .navbar-brand {
  display: inline-block;
}
.section-1 .navbar-brand {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #head {
    font-family: "Zhi Mang Xing";
    margin: 0;
    font-size: 20px;
    color: rgb(76, 63, 148);
    padding: 0px 0px;
    padding-bottom: 30px;
    text-align: center;
  }
}
*{
  font-family: 'Poppins', sans-serif;
}
.section-2 hr{
color: aliceblue;
}
.section-2 hr.dotted {
border: 1px solid purple;
}
.section-2 .services{
box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
padding: 20px;
}
.section-2 .services:hover {
transform: scale(1.1);
transition: transform 0.2s ease;
border-radius: 0;
border: 0;
}

.section-2 .card-img-top{
max-width: 100%;
}

.section-2 .card-body h6{
padding-top: 1%;
}

.section-5 .aboutus{
text-align: center;
/* background-image:
background-size: cover;
background-repeat: no-repeat;
max-height: 100%;
color: black;
text-align: center;
padding-bottom: 200px;
padding-top: 50px; */

}
.section-5 .story{
text-align: center;
}


.section-5 .review{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.section-5 .review .customerreview{
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.section-5 i.quote{
  font-size: 20px;
  color:rgb(36,28,75);
}
.section-5 .review .customerreview .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.section-5 .name{
  font-weight: 450;
  font-size: 17px;
}
.section-5 .job{
  font-size: 16px;
  font-weight: 500;
  color:rgb(36,28,75);
}
.section-5 .stars{
  margin-top: 5px;
  color:rgb(36,28,75);
}

.section-5 .imagereview{
  height: 75px;
  width: 75px;
  padding: 3px;
  background:rgb(36,28,75);
  border-radius: 50%;
  
}
.section-5  .imagereview img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
 
}

.section-5 .review .row .column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.section-5 .review .row {
  margin: 0 -5px;
}

.section-5 .review .row:after {
  content: "";
  display: table;
  clear: both;
}

.section-5 .review .row .column .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .section-5 .review .row .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .section-2 .container .row .col-md-4 .card {
   width: 16rem;
   margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .section-2 .services:hover {
      transition: none;
    }
}



